{%- for post in collections.home -%}
<header>
    <div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="2000">
                <div class="overlay-image" style="background-image: url({{ post.data.imageOne }});"></div>
                <div class="container carousel-container">
                    <h1>{{ post.data.titleOne }}</h1>
                    <p>{{ post.data.description1 }}</p>
                    <a href={{ post.data.urlOne }} class="btn btn-lg btn-outline-warning my-3">{{ post.data.buttonctaOne }}</a>
                </div>
            </div>
            <div class="carousel-item" data-interval="2000">
                <div class="overlay-image" style="background-image: url( {{ post.data.imageTwo }});"></div>
                <div class="container carousel-container">
                    <h1>{{ post.data.titleTwo}}</h1>
                    <p>{{ post.data.descriptionTwo}}</p>
                    <a href={{ post.data.urlOne }} class="btn btn-lg btn-outline-warning my-3">{{ post.data.buttonctaTwo }}</a>
                </div>
            </div>
            <div class="carousel-item" data-interval="2000">
                <div class="overlay-image" style="background-image: url( {{ post.data.imageThree }});"></div>
                <div class="container carousel-container">
                    <h1>{{ post.data.titleThree}}</h1>
                    <p>{{ post.data.descriptionThree}}</p>
                    <a href={{ post.data.urlOne }} class="btn btn-lg btn-outline-warning my-3">{{ post.data.buttonctaThree }}</a>
                </div>
            </div>
        </div>
    </div>
</header>
{% endfor %}