<header>
    <div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="2000">
                <div class="overlay-image" style="background-image: url(/assets/photos/slide1.jpg);"></div>
                <div class="container carousel-container">
                    <h1 style="color:blue;">Example Text</h1>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span><br /><span> Perferendis asperiores, culpa non
                        ratione mollitia animi laudantium placeat, expedita consequuntur distinctio magni, sunt in.
                        Tempora, a!</span><br />
                    <a href="#" class="btn btn-lg btn-outline-warning my-3">Sign-Up</a>
                </div>
            </div>
            <div class="carousel-item" data-interval="2000">
                <div class="overlay-image" style="background-image: url(/assets/photos/slide2.jpg);"></div>
                <div class="container carousel-container">
                    <h1>Example Text</h1>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span><br /><span> Perferendis asperiores, culpa non
                        ratione mollitia animi laudantium placeat, expedita consequuntur distinctio magni, sunt in.
                        Tempora, a!</span><br />
                    <a href="#" class="btn btn-lg btn-outline-warning my-3">Hire us</a>
                </div>
            </div>
            <div class="carousel-item" data-interval="2000">
                <div class="overlay-image" style="background-image: url(/assets/photos/slide3.jpg);"></div>
                <div class="container carousel-container">
                    <h1>Example Text</h1>
                    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span><br /><span> Perferendis asperiores, culpa non
                        ratione mollitia animi laudantium placeat, expedita consequuntur distinctio magni, sunt in.
                        Tempora, a!</span><br />
                    <a href="#" class="btn btn-lg btn-outline-warning my-3">Tutorials</a>
                </div>
            </div>
        </div>
    </div>
</header>