<div class="container list-container">
        <div class="row">
            <div class="col-12 justify-content-center">
                <h1>Recent posts</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row my-5">
            <div class="col-7">
                <h3>Why web-dev?</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, laudantium. Autem dolores dolore
                    pariatur nulla quaerat? Ducimus obcaecati distinctio perspiciatis, ipsam nulla quos est adipisci!
                </p>
                <button class="btn btn-outline-success">Read now</button>
            </div>
            <div class="col-5">
                <img src="https://source.unsplash.com/1600x900/?coding,programming" alt="coding"
                    style="width:400px; height:200px;" class="img-fluid post-thumb-nail">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row my-5">
            <div class="col-7">
                <h3>Why web-dev?</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, laudantium. Autem dolores dolore
                    pariatur nulla quaerat? Ducimus obcaecati distinctio perspiciatis, ipsam nulla quos est adipisci!
                </p>
                <button class="btn btn-outline-success">Read now</button>
            </div>
            <div class="col-5">
                <img src="https://source.unsplash.com/1600x900/?coding,programming" alt="coding"
                    style="width:400px; height:200px;" class="img-fluid post-thumb-nail">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row my-5">
            <div class="col-7">
                <h3>Why web-dev?</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, laudantium. Autem dolores dolore
                    pariatur nulla quaerat? Ducimus obcaecati distinctio perspiciatis, ipsam nulla quos est adipisci!
                </p>
                <button class="btn btn-outline-success">Read now</button>
            </div>
            <div class="col-5">
                <img src="https://source.unsplash.com/1600x900/?coding,programming" alt="coding"
                    style="width:400px; height:200px;" class="img-fluid post-thumb-nail">
            </div>
        </div>
    </div>
<div class="container">
    <div class="row">
        <div class="col-11">
            <div class="btn btn-outline-success float-end me-3">More Posts</div>
        </div>
    </div>
</div>