<!-- Navbar -->
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a href="/" class="navbar-brand nav-link fs-4 ms-sm-2 mt-1">
            Cyber-Gorillas</a>
        <button class="navbar-toggler collapsed navbar-toggler-icon d-flex d-lg-none flex-column justify-content-around" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle Navigation">
            <span class="toggler-icon top-bar"></span>
            <span class="toggler-icon middle-bar"></span>
            <span class="toggler-icon bottom-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav me-4">
            <li class="nav-item">
                <a href="/" aria-current="page" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="/about/who-are-we" class="nav-link">About</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Blog
                </a>
                <ul class="dropdown-menu text-start" >
                    <li><a href="/blog/programming" class="dropdown-item">Programming</a></li>
                    <li><a href="/blog/certifications" class="dropdown-item">Certifications</a></li>
                    <li><a href="/blog/basic-technology" class="dropdown-item">Basic Tech</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="/services/tech-services" class="nav-link">Services</a>
            </li>
        </ul>
    </div>
    </div>
</nav>