{%- for post in collections.services -%}
<section class="services">
<div class="card-parent card">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs justify-content-center">
      <li class="nav-item">
        <a class="nav-link active text-center " id="#basicTech" role="tab" data-bs-toggle="tab" aria-current="true"
          href="/services/basicTech">Basic Tech Support</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-center" role="tab" data-bs-toggle="tab" href="#webDev">Web Design</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-center" role="tab" data-bs-toggle="tab" href="#appDev">App Development</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-center"  role="tab" data-bs-toggle="tab" href="#pcBuild">PC Building</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-center"  role="tab" data-bs-toggle="tab" href="#seoManage">SEO & Management</a>
      </li>
    </ul>
  </div>
  <div class="card-body tab-pane fade show active" role="tabpanel" id="{{ post.data.elementId }}">
    <h2 class="card-title text-center mt-5">{{ post.data.bodyTitle}}</h2>
    <p class="card-text text-center mb-5">{{ post.data.subTitle }}</p>
    <div class="container">
    <div class="row justify-content-around text-start">
      <div class="card mb-3" style="width: 18rem;">
        <div class="card-body d-flex flex-column">
          <h3 class="card-title my-auto">{{ post.data.cardTitleLeft }}</h3>
          <p class="card-text text-justify my-auto py-2">{{ post.data.cardSubheadLeft }}</p>
          <a href="#" class="btn btn-outline-success m-auto">{{ post.data.cardButtonLeft }}</a>
        </div>
      </div>
      <div class="card mb-3" style="width: 18rem;">
        <div class="card-body d-flex flex-column">
          <h3 class="card-title">{{ post.data.cardTitleCenter }}</h3>
          <p class="card-text text-justify my-auto py-2">{{ post.data.cardSubheadCenter }}</p>
          <a href="#" class="btn btn-outline-success mt-auto">{{ post.data.cardButtonCenter }}</a>
        </div>
      </div>
      <div class="card mb-3" style="width: 18rem;">
        <div class="card-body d-flex flex-column">
          <h3 class="card-title">{{ post.data.cardTitleRight }}</h3>
          <p class="card-text text-justify my-auto py-2">{{ post.data.cardSubheadRight }}</p>
          <a href="#" class="btn btn-outline-success mt-auto">{{ post.data.cardButtonRight }}</a>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
</section>
{% endfor %}