---
pagination:
  data: collections.taggedPosts
  size: 1
  alias: posts
  addAllPagesToCollections: true
permalink: "/tags/{{ pagination.items[0] | slug }}/"
---

{% extends "baseofall.njk" %}

{% block content %}
  <h1>Posts tagged with "{{ pagination.items[0] }}"</h1>

  {% for post in posts %}
    {# ... your code for displaying each post ... #}
  {% endfor %}
{% endblock %}
