@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

body {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

.footer-container {
  margin-top: auto;
  padding-top: 2rem;
}

h1, h2 {
  color: rgb(0, 16, 241);
  font-family: 'PT Mono', monospace;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h3, h4, h5, h6 {
  color: #f13000;
  font-family: 'PT Mono', monospace;
}

p {
  color: #fff;
  font-family: 'PT Mono', monospace;
}

strong {
  color: #f13000;
  font-family: 'PT Mono', monospace;
}

li, ol, ul {
  color: rgb(225, 248, 97);
  font-family: 'PT Mono', monospace;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

hr {
  border-color: greenyellow;
}


/* NAVBAR... TOGGLER TUTORIAL https://www.youtube.com/watch?v=_MrShB9fh7U&ab_channel=ADesignerWhoCodes */


.navbar-toggler {
  width: 20px;
  height: 20px;
  position: relative;
  transition: .5s ease-in-out;
}


.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  border: 0;
  box-shadow: none;
  margin-right: 1rem;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #00f128;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}

/* when nav is clicked to*/

.navbar-toggler .top-bar {
  margin-top: 0px;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  margin-top: 0px;
  transform: rotate(-135deg);
}

/* State when navbar is collapsed */

.navbar-toggler.collapsed .top-bar {
  margin-top: -20px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  margin-top: 20px;
  transform: rotate(0deg);
}

.nav-link, .dropdown-item {
  color: #00f128;
  font-family: 'PT Mono', monospace;';
}



.dropdown-menu {
  background-color: #050505;
  
}

div.school-options-dropdown {
  text-align: center;
}

.dropdown {
  text-align: center;
}

.dropdown-menu {
  text-align: center;
}

#navbarNavDropdown {
  text-align: center;
}


/*-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0 SIDE WIDGETS BLOG PAGE -0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0*/

.my-card {
  border: solid 1px #00f128;
}


.my-card-header {
  background-color: #1d1c1c;
  color: #00f128;
  font-family: 'PT Mono', monospace;
}

.my-card-body {
  background-color: #383636;
  color: #fff;
  font-family: 'PT Mono', monospace;
}

/*-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0 LIST SECTION RECENT POSTS HOME PAGE -0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0*/

.list-container {
  padding-top: 5rem;
}

.post-thumb-nail {
  border: solid 1px #00f128;
  object-fit: cover;
}

.post-thumb-nail-mobile {
  border: solid 1px #00f128;
  object-fit: cover;
}

/*-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0 CAROUSEL SECTION HOME PAGE -0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0*/

.carousel-item {
    height: 32rem;
    color: white;
    position: relative;
    background-position: center;
    background-size: cover;
    background: #000;
}

.carousel-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 5rem;
}

.overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}


/*-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0 SERVICES PAGE -0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0*/

.services {
  padding-top: 5rem;
  max-height: 100vh;
}

.card {
  background-color: #000000;
  border-color:#00f128

}

.card-header-tabs {
  border-color:#00f128;
  background-color: black;
}

.card-header-tabs:active {
  background: transparent;
}

.card-header {
  border-color:#00f128;
}

.nav-tabs {
  border-color:#00f128;
}
.nav-tabs:hover {
  border-color:blue;
}

.card-parent {
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 0px;
  margin-bottom: auto;
  overflow: auto;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #0b07d5;
  background-color: #000;
  border-color: #00f128;
  border-bottom: 0px;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: #1e12d3 #0b07d5 #00f128;
  isolation: isolate;
}

.three-card {
  overflow: auto;
  padding-bottom:5rem;
}

/*-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0 MEDIA QUERIES -0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0-0*/

@media screen and (min-width: 1400px) {
    .carousel-item {
        height: 64rem;
    }

    .carousel-container {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding-bottom: 30rem;
    }

}

@media screen and (max-width: 992px) {
    .col-thumb-nail {
        display: none;
    }

}

@media screen and (min-width: 992px) {
  .post-thumb-nail-mobile {
      display: none;
      border: solid 1px #00f128;
  }
  #navbarNavDropdown {
    float: right;
  }

}



