---
title: Cyber Gorillas | Web Development & Cyber Security
layout: 'baseof.njk'
---

    <!-- 
    <nav class="navbar navbar-expand-lg bg-black">
        <div class="container-fluid">
            <a href="#" class="navbar-brand fs-4 ms-4 nav-link mt-1">
                Cyber Gorilla</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle Navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-4">
                <li class="nav-item">
                    <a href="#" aria-current="page" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">About</a>
                </li>
                <li class="nav-item dropdown-center">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Blog
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a href="#" class="dropdown-item">Tutorials</a></li>
                        <li><a href="#" class="dropdown-item">Web Dev</a></li>
                        <li><a href="#" class="dropdown-item">Cyber Security</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a href="#" class="dropdown-item"><strong>All Posts</strong></a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Contact</a>
                </li>
            </ul>
        </div>
        </div>
    </nav>
<!--
    <header>
        <div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-interval="2000">
                    <div class="overlay-image" style="background-image: url(/assets/photos/slide1.jpg);"></div>
                    <div class="container carousel-container">
                        <h1>Example Text</h1>
                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span><br /><span> Perferendis asperiores, culpa non
                            ratione mollitia animi laudantium placeat, expedita consequuntur distinctio magni, sunt in.
                            Tempora, a!</span><br />
                        <a href="#" class="btn btn-lg btn-outline-warning my-3">Sign-Up</a>
                    </div>
                </div>
                <div class="carousel-item" data-interval="2000">
                    <div class="overlay-image" style="background-image: url(/assets/photos/slide2.jpg);"></div>
                    <div class="container carousel-container">
                        <h1>Example Text</h1>
                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span><br /><span> Perferendis asperiores, culpa non
                            ratione mollitia animi laudantium placeat, expedita consequuntur distinctio magni, sunt in.
                            Tempora, a!</span><br />
                        <a href="#" class="btn btn-lg btn-outline-warning my-3">Hire us</a>
                    </div>
                </div>
                <div class="carousel-item" data-interval="2000">
                    <div class="overlay-image" style="background-image: url(/assets/photos/slide3.jpg);"></div>
                    <div class="container carousel-container">
                        <h1>Example Text</h1>
                        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span><br /><span> Perferendis asperiores, culpa non
                            ratione mollitia animi laudantium placeat, expedita consequuntur distinctio magni, sunt in.
                            Tempora, a!</span><br />
                        <a href="#" class="btn btn-lg btn-outline-warning my-3">Tutorials</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
